div{
    border: 2mm, solid, gray;
    height: 200px;
    padding: 10pt;
    width: 350px;
}

img{
    border-radius: 50%;
    height: 2in;
    width: 2in;
}

h1{
    font-size: 24pt;
}

p{
    font-size: 15pt;
}