.Imagen1{
    background-image: url("C:/Users/lmenta/OneDrive - Fundación Universitaria San Pablo CEU/2ºDAW/Interfaces/DIW-LorenaMenta/Clase3/Imagenes/Boo.jpg") ;
    border: 0.5cm, solid, black;
    display: inline;
    height: 200px;
    margin: 1rem;
    width: 30vmax;
}

.Imagen2{
    background-image: url("C:/Users/lmenta/OneDrive - Fundación Universitaria San Pablo CEU/2ºDAW/Interfaces/DIW-LorenaMenta/Clase3/Imagenes/Burbuja.jpg") ;
    border: 0.5cm, solid, black;
    display: inline;
    height: 200px;
    margin: 1rem;
    width: 30vmax;
}

.Imagen3{
    background-image: url("C:/Users/lmenta/OneDrive - Fundación Universitaria San Pablo CEU/2ºDAW/Interfaces/DIW-LorenaMenta/Clase3/Imagenes/Cactus.jpg") ;
    border: 0.5cm, solid, black;
    display: inline;
    height: 200px;
    margin: 1rem;
    width: 30vmax;
}

.Imagen4{
    background-image: url("C:/Users/lmenta/OneDrive - Fundación Universitaria San Pablo CEU/2ºDAW/Interfaces/DIW-LorenaMenta/Clase3/Imagenes/tortitas.jpeg") ;
    border: 0.5cm, solid, black;
    display: inline;
    height: 200px;
    margin: 1rem;
    width: 30vmax;
}