body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    line-height: 1.8;
    letter-spacing: 2px;
}
h1{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}
.estrofa{
    text-indent: 40px;
}
.estrofa2{
    text-indent: 40px;
}